.no-border-last-child li:last-child{
    border: none !important;
}
.no-border-last-child aside:last-child{
    border: none !important;
}
.badge{
    font-weight: 600;
}

ul.album-lyrics-list  li {
    position: relative;
}