table th {
    word-break: normal;
}
.lyrico-info-table{
	color: inherit;
}
.lyrico-info-table{
    margin-bottom: 0;
}
.lyrico-info-table.table th{
    vertical-align: middle;
}

.genres-table-row th{
    vertical-align: middle;
}
.genres-table-row td{
    padding-left: 8px;
}